<div class="container" *ngIf="proyecto">
  <div class="row">
    <div>
      <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
        <div class="from-group">
          <label for="nombre">Nombre del Proyecto</label>
          <input
            type="text"
            class="form-control"
            id="nombre"
            name="nombre"
            placeholder="Ingrese nombrel proyecto"
            [(ngModel)]="proyecto.nombre"
            required
          />
        </div>
        <div class="from-group">
          <label for="descripcion">Descripcion del proyecto</label>
          <input
            type="text"
            class="form-control"
            id="descripcion"
            name="descripcion"
            placeholder="Ingrese descripcion del proyecto"
            [(ngModel)]="proyecto.descripcion"
            required
          />
        </div>
        <div class="from-group">
          <label for="url">Url del proyecto</label>
          <input
            type="text"
            class="form-control"
            id="url"
            name="url"
            placeholder="Ingrese Url del proyecto"
            [(ngModel)]="proyecto.url"
            required
          />
        </div>
        <div class="from-group">
          <label for="img">Imagen</label>
          <input
            type="file"
            class="form-control"
            id="img"
            name="img"
            placeholder="Ingrese la imagen"
            [(ngModel)]="proyecto.img"
            (change)="uploadImage($event)"
            accept=".jpg, .jpeg, .png"
            required
          />
        </div>
        <div class="imagen">
          <img [src]="imageService.url" width="200px" />
        </div>
        <br />
        <button class="btn btn-primary">Actualizar Proyecto</button>
      </form>
    </div>
  </div>
</div>
