<div class="group">
  <div class="section">
    <h1>Proyectos</h1>
    <button
      type="button"
      class="btn btn-dark"
      routerLink="nuevoproy"
      *ngIf="isLogged"
    >
      Nuevo proyecto
    </button>
  </div>

  <div class="container" *ngFor="let proyecto of proyecto">
    <div class="subContainer">
      <h3>{{ proyecto.nombre }}</h3>
      <div class="subTitle">{{ proyecto.descripcion }}</div>
    </div>
    <div>
      <a href="{{ proyecto.url }}" target="_blank">
        <img
          src="{{ proyecto.img }}"
          alt="ImagenProyecto"
          class="img-fluid img-proyecto"
          id="ImagenProyecto"
      /></a>
      <td *ngIf="isLogged">
        <button class="btn btn-light" routerLink="/editproy/{{ proyecto.id }}">
          <i class="bi bi-pencil-square"></i>
        </button>
      </td>
      <td *ngIf="isLogged">
        <button class="btn btn-danger" (click)="delete(proyecto.id)">
          <i class="bi bi-trash3"></i>
        </button>
      </td>
    </div>
  </div>
</div>
