.groupContainer {
  background-image: url("../src/assets/mikhail-selnihin-full-day-out-light-x4.jpg");
}

@media (min-width: 576px) {
  .groupContainer {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media (max-width: 575px) {
  .groupContainer {
    padding: 0;
  }
}
